# Django
Django>=5.1,<5.2

# Database
psycopg[binary]>=3.2,<4

# Payments
stripe>=11.0,<12

# Static files
whitenoise>=6.8,<7

# Production server
gunicorn>=23.0,<24

# Environment variables
python-dotenv>=1.0,<2

# Security
django-axes>=7.0,<8

# Testing
pytest>=8,<9
pytest-django
